<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265404624074-06td2elmh0kp1bf0ka4so21cac1qjll2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265404624074-06td2elmh0kp1bf0ka4so21cac1qjll2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>265404624074-a4dn83ap8jktvaptto4rgvm5pg6tm62j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCer1xW25fj-oYD-w3jqJys3YRXkapZ1o0</string>
	<key>GCM_SENDER_ID</key>
	<string>265404624074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nakajimamasao.appstudio.letselevator</string>
	<key>PROJECT_ID</key>
	<string>elevator-simulator-app</string>
	<key>STORAGE_BUCKET</key>
	<string>elevator-simulator-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265404624074:ios:80761ae465775110dad833</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1585283309075901~2089466660</string>
</dict>
</plist>